@font-face {
  font-family: 'Merriweather';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---GENERAL--- */


a {
	color: #fff;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

body {
	font-family: "Merriweather", Georgia, serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 2.375;
}

.wrapper {
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	overflow: hidden;
}

/* --- HEADER --- */

.header {
	color: #ffffff;
}

.header-huge-title {
	font-size: 70px;
	margin-top: 145px;
}

.header-text {
	width: 710px;
	margin: 0 auto;
}

.arrow-icon {
	border: 2px solid #ffffff;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin: 40px auto 80px;
	text-align: center;
	outline:none;
}

.arrow-icon i {
	line-height: 70px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.arrow-icon:hover {
	border-color: #18bfef;
	transition: .5s;
}

.fa-arrow-down:hover {
	color: #18bfef;
	transition: 1.8s;
}

.fa-arrow-down {
	color: #fff;
}

/* --- END OF HEADER --- */

/* --- CONTAINER-TOP-BAR --- */

.container {
	width: 1150px;
	margin: 0 auto;
	outline: 1px solid white;
}

.container-top-bar {
	color: #fff;
	max-width: 100%;
	height: 65px;
	outline: 1px dashed pink;
}

.container-top-bar-nav {
	float: left;
}

.container-top-bar-nav ul li {
	float: left;
	line-height: 65px;
	padding: 0 15px;
	outline: 1px solid yellow; 
}

.container-top-bar-social {
	line-height: 65px;
	float: right;
}

/* --- END OF CONTAINER-TOP-BAR --- */

/* --- CONTAINER-MAIN --- */

.container-main {
	background-color: #fff;
	overflow: hidden;
}

.container-main a {
	color: #000;
}

.main-article {
	padding: 110px 0 130px;
	outline: 1px solid #eeeeee;
}

.article-huge-title {
	width: 550px;
	margin: 90px auto 55px;
}

.article-huge-title a {
	font-size: 44px;
	font-weight: bold;
	line-height: initial;
}

.article-huge-title a:hover {
	color: #18bfef;
	transition: .3s;
}

.outwrapp-main-image {
	width: 897px;
	height: 437px;
	margin: 70px auto 50px;
	overflow: hidden;
}

.main-article-image {
	background-image: url("../images/sss.jpg");
	width: 897px;
	height: 437px;
}


.main-article-image:hover {
	transform: scale(1.1);
	transition: .3s;
	cursor: pointer;
}

.main-full-btn {
	width: 176px;
	height: 55px;
	background-color: white;
	outline: none;
	border: 2px solid;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.main-full-btn:hover {
	color: #18bfef;
	transition: .3s;
}

.article {
	width: 575px;
	overflow: hidden;
	float: left;
	outline: 2px solid #eeeeee;
}

.article-date {
	display: inline-block;
	margin: 70px 0 30px;
}

.outwrapp-image {
	width: 450px;
	height: 275px;
	margin: 50px auto;
	overflow: hidden;
}

.article-image {
	width: 450px;
	height: 275px;
	background-size: contain;
}

.article-image:hover {
	transform: scale(1.1);
	transition: .3s;
	cursor: pointer;
}


/* image names */


.car {
	background-image: url("../images/car.jpg");
}

.man {
	background-image: url("../images/man.jpg");
}

.camera {
	background-image: url("../images/camera.jpg");
}

.mountine {
	background-image: url("../images/mountine.jpg");
}

.photographer {
	background-image: url("../images/photographer.jpg");
}

.lendrover {
	background-image: url("../images/lendrover.jpg");
}

/* end of image names */

.article-text {
	width: 450px;
	margin: 0 auto;
	text-align: justify;
}

.full-btn {
	width: 142px;
	height: 47px;
	background-color: white;
	outline: none;
	border: 2px solid;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	margin: 40px 0 60px;
}

.full-btn:hover {
	color: #18bfef;
	transition: .3s;
}



















