/*-----------------------
	General Styles start
-------------------------*/
/*----Source Sans Pro font-family start----*/
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProExtraLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProExtraLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProExtraLight.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 200;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProExtraLightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProExtraLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProExtraLightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProExtraLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProExtraLightItalic.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: 200;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProLight.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 300;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProLightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProLightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProLightItalic.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: 300;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProRegular.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProItalic.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: 400;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProSemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProSemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProSemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProSemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProSemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProSemiBold.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 600;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProBold.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 700;  
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansProBlack.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SourceSansProBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SourceSansProBlack.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/SourceSansProBlack.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/SourceSansProBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SourceSansProBlack.svg#Source Sans Pro') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 900;  
}
/*----Source Sans Pro font-family end----*/

/*----Merriweather font-family start----*/
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherLight.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherLight.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherLight.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 300;  
}
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherLightItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherLightItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherLightItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherLightItalic.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: 300;  
}
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherRegular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherRegular.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 400;  
}
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherItalic.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: 400;  
}
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherBold.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 700;  
}
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherBoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherBoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherBoldItalic.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: 700;  
}
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherBlack.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherBlack.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherBlack.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherBlack.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: 900;  
}
	@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather/MerriweatherBlackItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather/MerriweatherBlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather/MerriweatherBlackItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather/MerriweatherBlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather/MerriweatherBlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather/MerriweatherBlackItalic.svg#Merriweather') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: 900;  
}
/*----Merriweather Pro font-family end----*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
	font-family: 'Source Sans Pro', Arial, sans-serif;
	color: #212931;
  line-height: 32px;
	
}
.page-wrapper {
	width: 100%;
	height: 100%;
	margin: 0;
	background: url("../images/bg.jpg") no-repeat top center fixed;
	background-size: cover;
}
/*
* - For W3C compliant CSS: If you define the color property, you must also define the background-color.
* - Don't forget links for :visited and :active pseudo-classes.
* - You may specify headings with h1-h6 CLASSES.
*/
header, section, footer, aside, nav, main, article, figure {
		display: block; 
}

.page-width {
	width: 1152px;
	margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
.effect {  
  transition: color 0.3s;
}
.effect:hover {
  color: #18bfef;
}
.image-effect:hover a {
  transform: scale(1.2);
}
.sec-title {
  width: 620px;
  letter-spacing: 3px;
  margin: 70px auto 60px;
  line-height: 48px;
}
.sec-title-link {
  font-size: 62px;
  color: #212931;
  font-weight: 900;
}
.sec-intro {
  width: 491px;
  margin: 0 auto;
  font-size: 18px;
}
.image-pos {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 0.3s ease;
  display: block;
}
a.image-pos:hover  {
  transform: scale(1.05);
}
.btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  border: 2px solid #212931;
  font-weight: 700;  
  letter-spacing: 1px;
  color: #212931;
}
.btn-effect {
  transition: all 0.3s;
}
.btn-effect:hover {
  color: #18bfef;
  border-color: #18bfef;
}
/*---------------------
	General Styles end
-----------------------*/

/*--------------
	Header start
----------------*/
header {
	background-color: transparent;
	height: 582px;
	padding-top: 143px;
	text-align: center;
	color: #fff;
}
.page-title {
  font-size: 83px;
  width: 438px;
  margin: 0 auto 30px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 76px;
  letter-spacing: 3px;
}
.page-intro {
	font-family: 'Merriweather', "Times New Roman", serif;
	width: 790px;
	font-size: 19px;
	margin: 0 auto 48px;
	line-height: 34px;
  font-style: italic;
  font-weight: 400;
}
.page-intro a {
	color: #fff;
	border-bottom: 1px dotted #fff;
	transition: all 0.5s;
}
.page-intro a:hover {
	color: #18bfef;
	border-bottom: none;
}
.scr-down-btn {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
	transition: all 0.4s;
}
.scr-down-btn:hover {
	color: #18bfef;
	border-color: #18bfef;
}

/*-------------
	Header end
---------------*/

/*------------------
	Navigation start
--------------------*/
.navigation-inner {
	height: 64px;
	background: rgba(0,0,0, 0.2);
}
nav {
	float: left;
}
nav ul li {
	float: left;
}
nav ul li a {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 16px 20px;
  transition: all 0.4s;
}
nav ul li a:hover {
	background: rgba(255,255,255,0.3);
}
.social {
	float: right;
	padding-top: 18px;
	margin-right: 25px;
}
.social a {
	font-size: 21px;
	color: #fff;
	margin: 0 17px;	
}
.social a:hover {
	color: #18bfef;
}
/*----------------
	Navigation end
------------------*/
/*-------------------------------
  Navigation pages start
---------------------------------*/
.navigation-pages {
  position: relative;
}
/*-----------------
  Massively start
------------------*/
.massively {
  background-color: #fff;
  height: 3573px;
  padding-top: 100px;
  text-align: center;
}
.date {
  text-align: center;
  font-size: 16px;
  border-bottom: 2px solid #eee;
  line-height: 2px;
  width: 900px;
  margin: 1px auto;
}
.date span {
  background-color: #fff;
  padding: 0 50px;
}
.massively-banner {
  width: 896px;
  height: 436px; 
  margin: 60px auto 64px;
  overflow: hidden;
}
.massively-banner a {
  background-image: url("../images/pic01.jpg");
}
.massiv-section-btn {
  padding: 4px 48px;
}
.massively-gallery {
  margin-top: 110px;
}
.masgal-section {
  width: 576px;
  height: 800px;
  float: left;
  text-align: center;
  border-top: 2px solid #eee;
  padding-top: 74px;
}
.masgal-section * {
  margin: 0 auto;
}
.masgal-section:nth-child(even) {
  border-left: 2px solid #eee;
}
.masgal-section:nth-last-child(-n+2) {
  border-bottom: 2px solid #eee;
}
.masgal-section-image {
  width: 450px;
  height: 274px;
  overflow: hidden;
}
.car a {
  background-image: url("../images/pic02.jpg");
}
.man-street a {
  background-image: url("../images/pic03.jpg");
}
.photo-camera a {
  background-image: url("../images/pic04.jpg");
}
.mountain a {
  background-image: url("../images/pic05.jpg");
}
.man a {
  background-image: url("../images/pic06.jpg");
}
.suv a {
  background-image: url("../images/pic07.jpg");
}
.masgal-section-date {
  font-size: 14px;
}
.masgal-section-title {
  width: 262px;
  margin: 13px auto 38px;
}
.masgal-section-title a {
  color: #212931;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 1px;
}
.gal-text {
    font-size: 19px;
    width: 447px;
    text-align: left;
    font-weight: 300;
    margin: 27px auto 56px;
}
.masgal-section-btn {
  padding: 4px 35px;
}

/*---------------
  Massively end
-----------------*/
/*-------------------------------
  Navigation pages end
---------------------------------*/