/*-----------------------
	General Styles start
-------------------------*/
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/merriweather_regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/merriweather_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/merriweather_regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/merriweather_regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/merriweather_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/merriweather_regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
body {
	font-family: "Merriweather", Georgia, serif;
	color: #fff;
	
}
.page-wrapper {
	margin: 0;
	background: url("../images/bg.jpg");

}
/*
* - For W3C compliant CSS: If you define the color property, you must also define the background-color.
* - Don't forget links for :visited and :active pseudo-classes.
* - You may specify headings with h1-h6 CLASSES.
*/
header, section, footer, aside, nav, main, article, figure {
		display: block; 
}


.page-width {
	width: 1152px;
	margin: 0 auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
/*---------------------
	General Styles end
-----------------------*/

/*--------------
	Header start
----------------*/
header {
	background-color: transparent;
	height: 582px;
	padding-top: 143px;
	text-align: center;
}
.sec-title {
	font-size: 48px;
	width: 300px;
	margin: 0 auto 42px;
	text-transform: uppercase;
}
.sec-text {
	width: 790px;
	font-size: 18px;
	margin: 0 auto 48px;
	line-height: 30px;
}
.sec-text a {
	color: #fff;
	border-bottom: 1px dotted #fff;
}
.sec-text a:hover {
	color: #18bfef;
}
.scr-down-btn {
	display: block;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
	color: #fff;
}
.scr-down-btn:hover {
	color: #18bfef;
	border-color: #18bfef;;
}

/*-------------
	Header end
---------------*/

/*------------------
	Navigation start
--------------------*/
.navigation .page-width {
	height: 53px;
	background: rgba(0,0,0, 0.2);

}
nav {
	float: left;
}
nav ul li {
	display: inline-block;
}
nav ul li a {
	font-size: 14px;
	color: #fff;
	display: inline-block;
	padding: 18px 20px;
	cursor: pointer;
}
nav ul li a:hover {
	background: rgba(255,255,255,0.3);
}
.social {
	float: right;
	padding-top: 15px;
}
.social a {
	font-size: 18px;
	color: #fff;
	margin: 0 10px;
	cursor: pointer;
}
.social a:hover {
	color: #18bfef;
}
/*----------------
	Navigation end
------------------*/
/*----------------
	Headline start
------------------*/
.headline {
	background: #fff;
	height: 4440px;
}
.inner {
	border-right: 10px solid yellow;
	border-left: 10px solid yellow;
	width: 500px;
	margin: 0 auto;


}

/*----------------
	Headline end
------------------*/