@media all and (max-width:768px){

.container-center{
 width:768px;
 margin:auto;
}
.container-center-pages-size{
 width:670px;
}
.hamburger-menu-icon{
 display:block;
 float:right;
 font-size:30px;
 font-weight:bold;
 color:white;
 padding:40px 10px 0px 0px;
}
.logo-container{
 width:100%;
 padding-top:420px;
 line-height:75px;
}
.logo-container h1{
 font-size:60px;
}
.header-paragraph-container{
 font-size:16px;
}
.nav-icons-container{
 display:none;
}
.article-massively-container{
 width:768px;
}
.massive-headline-paragraph-container{
 width:100%;
}
.massive-headline-paragraph{
 font-size:30px;
}
.massive-headline-text-container{
 margin-top:45px;
}
.massive-headline-text{
 font-size:18px;
}
.massive-headline-container{
 margin:80px auto;
}
.massive-image-container{
 width:100%;
 height:42%;
}
.massive-btn-container{
 width:190px;
 height:55px;
 border-radius:50px;
 margin:80px auto;
}
.msv-btn-link{
 font-size:19px;
 line-height:55px;
}
.individual-story-container{
 width:100%;
 padding:0px;
 border:none;
 border-top:2px solid #eeeeee;
}
.ind-st-date-container{
 margin-top:60px;
}
.ind-st-paragraph{
 font-size:21px;
}
.ind-st-paragraph-container{
 margin-bottom:35px;
}
.ind-st-image-container{
 width:100%;
 height:50%;
}
.ind-st-text-container{
 text-align:justify;
 margin:40px auto;
}
.ind-st-text-container >span{
 line-height:35px;
}
.ind-st-btn-container{
 border-radius:50px;
}
.ind-st-page-number-container{
 width:83%;
}
.footer-form-container,.footer-contact-container{
 width:100%;
}
.contact-container{
 padding:0px;
}
.address-container{
 border-top:2px solid #717981;
}
.generic-page-container{
 width:768px;
}
.generic-page-text-container{
 padding:60px 0px;
}
.generic-text{
 font-size:20px;
 line-height:38px;
}
.elements-reference-container{
width:768px;
}
.el-ref-paragraph{
 margin-top:80px;
 font-size:22px;
}
.el-ref-text{
 padding:60px 0px 25px;
}
.heading-text{
 font-size:24px;
 line-height:40px;
}
.item-text{
 line-height:30px;
 padding:25px 50px;
}
.spec-def-btn-colum{
 width:100%;
}
.box-text{
 font-size:20px;
 line-height:30px;
}
.form-data-text{
 margin-right:55px;
}
input[type="checkbox"]{
 margin-left:34px;
}
.form-text{
 margin:0px auto 35px;
}
.fit-image{
 height:45%;
}
.fit-small-images{
 width:30%;
 display:inline-block;
}
}